body {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


/* チャプター6の課題2 */
.button1 {
  width: 1200px;
  margin-top: 100px;
  text-align: center;
  padding: 30px 70px;
  width: 100px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  background-color: coral;
  transition: 0.3s;
}

/* チャプター6の課題3 */
.border-bottom {
  width: 1200px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.font-weight {
  width: 1200px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.font-size {
  width: 1200px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.text-decoration {
  width: 1200px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}


/* チャプター6の課題4 */
body {
  font-family: times new roman, 'YuGothic';
  }

  .headline1 {
    display: inline-block;
    font-family: 'YuGothic';
    border-bottom: dotted 10px blue ;
    color: red;
    font-size: 38px;
  }

  .bodytext1 {
    color: grey;
    font-family: 'Times New Roman', Times, 'YuGothic';
    font-size: 32px;
  }

  .bodytext2 {
    font-size: 18px;
  }

  article {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  /* コンタクト */
  .contact-body {
    font-size: 24px;
    font-weight: 600;
  }

.box1 {
  border: solid 6px green;
  padding: 20px 30px;
}

  .mail-adress {
    color: rgb(5, 208, 5);
    text-decoration: underline;
  }

  .web-site {
    color: rgb(116, 0, 139);
    text-decoration: underline;
  }

